# pycache
__pycache__

# Archivos para desarrollo
main.py
web.py
run_leovegas.py

# Archivos de datos/backups
scripts/data/
pretty_print.txt
partidos.csv
partidos.html
partidos_seguros.html
tenis.json

# Archivos de deploy
.replit
poetry.lock
pyproject.toml
enlaces.txt

# Archivos sin relacion
telegram_bot.py
